<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default-layout}"
      layout:fragment="Content"
>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary float-left">분석중인 PC방 목록</h4>
        <button class="btn btn-primary float-right" data-toggle="modal" data-target="#registerPcbangModal"><i
                class="fas fa-plus"></i>등록하기
        </button>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>IP 범위</th>
                    <th>포트</th>
                    <th>좌석 수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pcbang : ${pcbangs}">
                    <td th:text="${pcbang.id}">ID</td>
                    <td><a href="#" th:attr="onclick='readPcbangDetails(\'' + ${pcbang.id} + '\')'">
                        <span th:text="${pcbang.name}">Name</span></a></td>
                    <td th:text="${pcbang.ipRange}">IP</td>
                    <td th:text="${pcbang.port}">Port</td>
                    <td th:text="${pcbang.seatCount}">Seat Count</td>
                </tr>
                </tbody>
            </table>

            <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/pcbangs(page=${currentPage - 1}, size=${size})}"
                               tabindex="-1">
                                Previous
                            </a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == currentPage} ? 'active' : ''">
                            <a class="page-link" th:href="@{/pcbangs(page=${i}, size=${size})}" th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/pcbangs(page=${currentPage + 1}, size=${size})}">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<!-- PC방 상세조회 Modal -->
<div class="modal fade" id="pcbangDetailModal" tabindex="-1" role="dialog" aria-labelledby="pcbangDetailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pcbangDetailModalLabel">PC방 상세 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>IP:</strong> <input type="text" id="detailIp" value="" disabled></p>
                <p><strong>Port:</strong> <input type="text" id="detailPort" value=""></p>
                <p><strong>이름:</strong> <input type="text" id="detailName" value=""></p>
                <p><strong>주소:</strong> <input type="text" id="detailAddress" value=""></p>
                <p><strong>좌석 수:</strong> <input type="text" id="detailSeatCount" value=""></p>
                <p><strong>PC 사양:</strong> <input type="text" id="detailSpec" value=""></p>
                <p><strong>통신사:</strong> <input type="text" id="detailTelecom" value=""></p>
                <p><strong>메모:</strong> <input type="text" id="detailMemo" value=""></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editPcbangButton" onclick="updatePcbangDetails(id)">수정하기</button>
                <button id="deletePcbangButton" type="button" class="btn btn-danger" onclick="deletePcbang(id)">삭제하기
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- PC방 등록 Modal -->
<div class="modal fade" id="registerPcbangModal" tabindex="-1" role="dialog" aria-labelledby="registerPcbangModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerPcbangModalLabel">새 PC방 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerPcbangForm">
                    <div class="form-group">
                        <label for="pcbangName">이름</label>
                        <input type="text" class="form-control" id="pcbangName" placeholder="PC방 이름" required>
                    </div>
                    <div class="form-group">
                        <label for="pcbangName">주소</label>
                        <input type="text" class="form-control" id="pcbangAddress" placeholder="PC방 주소" required>
                    </div>
                    <div class="form-group">
                        <label for="pcbangIp">IP</label>
                        <input type="text" class="form-control" id="pcbangIp" placeholder="IP 주소">
                    </div>
                    <div class="form-group">
                        <label for="pcbangPort">Port</label>
                        <input type="number" class="form-control" id="pcbangPort" placeholder="Port 번호">
                    </div>
                    <div class="form-group">
                        <label for="pcbangSeatCount">좌석 수</label>
                        <input type="number" class="form-control" id="pcbangSeatCount" placeholder="좌석 수">
                    </div>
                    <div class="form-group">
                        <label for="pcbangSpec">PC 사양</label>
                        <input type="text" class="form-control" id="pcbangSpec" placeholder="사양">
                    </div>
                    <div class="form-group">
                        <label for="pcbangName">통신사</label>
                        <input type="text" class="form-control" id="pcbangTelecom" placeholder="통신사">
                    </div>
                    <div class="form-group">
                        <label for="pcbangName">메모</label>
                        <input type="text" class="form-control" id="pcbangMemo" placeholder="메모">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" onclick="createPcbang()" class="btn btn-primary">등록하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function createPcbang() {
        const pcbangName = $('#pcbangName').val();
        const pcbangAddress = $('#pcbangAddress').val();
        const pcbangIp = $('#pcbangIp').val();
        const pcbangPort = $('#pcbangPort').val();
        const pcbangSeatCount = $('#pcbangSeatCount').val();
        const pcbangSpec = $('#pcbangSpec').val();
        const pcbangTelecom = $('#pcbangTelecom').val();
        const pcbangMemo = $('#pcbangMemo').val();

        $.ajax({
            url: 'api/pcbangs',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                name: pcbangName,
                address: pcbangAddress,
                ip: pcbangIp,
                port: pcbangPort,
                seatCount: pcbangSeatCount,
                pcSpec: pcbangSpec,
                telecom: pcbangTelecom,
                memo: pcbangMemo
            }),
            success: function (data) {
                alert('PC방이 등록되었습니다.');
                location.reload();
            },
            error: function (data) {
                alert('PC방 등록에 실패했습니다.');
            }
        });
    }

    function readPcbangDetails(id) {
        $.ajax({
            url: `api/pcbangs/${id}`,
            type: 'GET',
            success: function (data) {
                $('#deletePcbangButton').attr('id', data.id);
                $('#editPcbangButton').attr('id', data.id);

                $('#detailIp').val(data.ip);
                $('#detailPort').val(data.port);
                $('#detailName').val(data.name);
                $('#detailAddress').val(data.address);
                $('#detailSeatCount').val(data.seatCount);
                $('#detailSpec').val(data.pcSpec);
                $('#detailTelecom').val(data.telecom);
                $('#detailMemo').val(data.memo);

                $('#pcbangDetailModal').modal('show');
            },
            error: function () {
                alert('Failed to load PC방 details.');
            }
        });
    }

    function updatePcbangDetails(id) {
        const pcbangName = $('#detailName').val();
        const pcbangAddress = $('#detailAddress').val();
        const pcbangIp = $('#detailIp').val();
        const pcbangPort = $('#detailPort').val();
        const pcbangSeatCount = $('#detailSeatCount').val();
        const pcbangSpec = $('#detailSpec').val();
        const pcbangTelecom = $('#detailTelecom').val();
        const pcbangMemo = $('#detailMemo').val();

        $.ajax({
            url: `api/pcbangs/${id}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({
                name: pcbangName,
                address: pcbangAddress,
                ip: pcbangIp,
                port: pcbangPort,
                seatCount: pcbangSeatCount,
                pcSpec: pcbangSpec,
                telecom: pcbangTelecom,
                memo: pcbangMemo
            }),
            success: function () {
                alert('PC방이 성공적으로 수정되었습니다.');
                $('#pcbangDetailModal').modal('hide');
                location.reload();
            },
            error: function () {
                alert('PC방 수정에 실패했습니다.');
            }
        });
    }

    function deletePcbang(id) {
        if (confirm('정말로 삭제하시겠습니까?')) {
            $.ajax({
                url: `api/pcbangs/${id}`,
                type: 'DELETE',
                success: function () {
                    alert('PC방이 성공적으로 삭제되었습니다.');
                    $('#pcbangDetailModal').modal('hide');
                    location.reload(); // Refresh the page to update the list
                },
                error: function () {
                    alert('PC방 삭제에 실패했습니다.');
                }
            });
        }
    }
</script>

</html>