{% extends 'layout.html' %}

{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
                </h3>
            </div>
            <div class="row">
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-danger card-img-holder text-white">
                        <div class="card-body">
                            <h4 class="font-weight-normal mb-3">분석 중인 매장 수
                                <i class="fa fa-desktop float-end "></i>
                            </h4>
                            <h2 class="mb-5">{{ pcbang_count }} 개</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body">
                            <h4 class="font-weight-normal mb-3">가동률이 가장 높은 매장
                                <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                            </h4>
                            <h2 class="mb-5">
                                {{ highest_open_rate_history.pcbang.name }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                        <div class="card-body">
                            <h4 class="font-weight-normal mb-3">마지막 분석 시간
                                <i class="mdi mdi-diamond mdi-24px float-end"></i>
                            </h4>
                            <h2 class="mb-5">
                                {{ recent_history_analyzed_at|date:"Y년 m월 d일  H시 i분" }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">분석 중인 매장들</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>주소</th>
                                        <th>IP</th>
                                        <th>포트</th>
                                        <th>좌석 수</th>
                                        <th>PC 사양</th>
                                        <th>통신사</th>
                                        <th>메모</th>
                                        <th>도시</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pcbang in pcbang_list %}
                                        <tr>
                                            <td>{{ pcbang.name }}</td>
                                            <td>{{ pcbang.address }}</td>
                                            <td>{{ pcbang.ip }}</td>
                                            <td>{{ pcbang.port }}</td>
                                            <td>{{ pcbang.seat_count }}</td>
                                            <td>{{ pcbang.pc_spec }}</td>
                                            <td>{{ pcbang.telecom }}</td>
                                            <td>{{ pcbang.memo }}</td>
                                            <td>{{ pcbang.city.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">최근 분석 결과</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>매장 이름</th>
                                        <th>열려있는 좌석 수</th>
                                        <th>닫혀있는 좌석 수</th>
                                        <th>가동률</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for history in recent_histories %}
                                        <tr>
                                            <td>{{ history.pcbang.name }}</td>
                                            <td>{{ history.open_count }}</td>
                                            <td>{{ history.close_count }}</td>
                                            <td>{{ history.open_rate|stringformat:".1f" }}%</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="4">데이터가 없습니다.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
    </div>
{% endblock %}