<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default-layout}"
      layout:fragment="Content"
>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary float-left">PC방 분석 기록</h4>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>분석 시간</th>
                    <th>켜져있는 좌석 수</th>
                    <th>꺼져있는 좌석 수</th>
                    <th>가동률</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="analyzeHistory : ${analyzeHistories}">
                    <td th:text="${analyzeHistory.id}"></td>
                    <td th:text="${analyzeHistory.pcbangName}"></td>
                    <td th:text="${#temporals.format(analyzeHistory.analyzedAt, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></td>
                    <td th:text="${analyzeHistory.openCount}"></td>
                    <td th:text="${analyzeHistory.closeCount}"></td>
                    <td th:text="${analyzeHistory.openRate} + '%'"></td>
                </tr>
                </tbody>
            </table>

            <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/(page=${currentPage - 1}, size=${size}, pcbangName=${searchKeyword})}" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == currentPage} ? 'active' : ''"
                            th:if="${i == 0 or i == totalPages - 1 or (i >= currentPage - 2 and i <= currentPage + 2) or (i < 5 and currentPage < 5) or (i > totalPages - 5 and currentPage > totalPages - 5)}">
                            <a class="page-link" th:href="@{/(page=${i}, size=${size}, pcbangName=${searchKeyword})}" th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item disabled" th:if="${currentPage >= 5 && i == 5}">
                            <span class="page-link">...</span>
                        </li>
                        <li class="page-item" th:if="${currentPage + 5 < totalPages - 1}">
                            <span class="page-link">...</span>
                        </li>
                        <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/(page=${currentPage + 1}, size=${size}, pcbangName=${searchKeyword})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>



        </div>
    </div>
</div>

</html>