{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'components/header.html' %}

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'components/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include 'components/sidebar.html' %}
        <!-- partial -->
        {% block content %}{% endblock %}
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

{% include 'components/footer.html' %}

</body>
</html>